@font-face {
  font-family: Din;
  src: url(./public/fonts/DIN\ Bold.ttf)format('truetype');
}

@font-face {
  font-family: Lora;
  src: url("./public/fonts/Lora-Medium.ttf") format('truetype');
}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.content{
  position: absolute;
  color: white;
  font-family: Din;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center ;
  text-align: center;
  margin-top: 3%;
  opacity: 0;
  transition: opacity 2s ease-in-out forwards;
}

button{
  width: 10%;
  padding: 10px;
  font-family: Din;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  transition: box-shadow 0.3s ease , background-color 1s ease-in-out , color 1s ease;
  border-radius: 12px;
}

button:hover{
  background-color: rgba(44, 44, 188, 0.69);
  color: black;
}


button.glow {
  box-shadow: 0 0 2px 0px rgba(34, 172, 214, 0.8); /* Light blue glow */
}

#h1{
  display: flex;
  flex-direction: column;
}

#h1 h1{
  margin-top: -3%;
  font-family: Lora;
  font-size: 5em;
}

#h1 .text{
  margin-top: -4%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fade-in {
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-out forwards; /* Apply the fade-in animation */
}

.fade-inn {
  opacity: 0; /* Start hidden */
  animation: fadeIn 12s ease-out forwards; /* Apply the fade-in animation */
}



.fade-opacity{
  opacity: 0;
}


.moontext{
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 22%;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  opacity: 0;
}

.moontext h1{
  font-family: Din;
  letter-spacing: 40px;
  font-size: 5em;
}

.moontext .links{
  display: flex;
  font-family: Din;
  width: 40%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 9%;
}

.links p{
  transition :background-color 2s ease-in-out , color 2s ease-in-out;
  padding: 4px;
  border-radius: 10px;
}

.links p:hover{
  background-color: black;
  color: white;
}